.cardItem {
  background-color: #fff;
  border-radius: 20px;
  padding: 32px 24px 32px 24px;
  list-style-type: none;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 48px;
  max-width: 323px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}
.description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
}
.image {
  width: 80px;
  height: 80px;
  align-self: flex-end;
}
